/* make keyframes that tell the start state and the end state of our object */
 
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animation ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}
 
.fade-in.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}
 
.fade-in.two {
-webkit-animation-delay: 1.4s;
-moz-animation-delay:1.4s;
animation-delay: 1.4s;
}
 
.fade-in.three {
-webkit-animation-delay: 1.8s;
-moz-animation-delay: 1.8s;
animation-delay: 1.8s;
}
body {
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    color: #666; 
    text-align:center;   
}
a {
    color: #fcba03;
}
a:hover {
    color: #000;
    font-style: none;
}
a:active {
    color: #fcba03;
}
h1 {
    color: #222;
}
h2 {
    color: #222;
}
hr {

}
ul {
    margin-left: -1em;
}
li {
    display: inline;
    list-style: none;
    list-style-position: outside;
    margin-left: 20px;
}
.test-border {
    border: 1px solid #000;
}
.main {
    padding: 0px 40px 40px 40px;
    text-align: center;
}
.navigator {
    text-align: center;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
}
.content {
    margin: 0em 0em 4em 0em;
    padding: 20px;
    text-align: center;
}
.pagehead {
        margin: 4em 0 0 0;
    text-align: center;
}
.section-head {
    font-size: 3em;
    text-align: center;
    margin: 0em 0em 1.5em 0em;
}
.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic img{
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin:auto;
    display:block;
}
.intro {
    font-size: 5em;
    font-weight: bold;
}
.blurb {
    font-size: 1em;
    text-align: center;
}
.social-icons {
    text-align: center;
    font-size: 2em;
    margin: 1em;
}
.highlight-text {
    font-size: 2em;
    margin: 0.8em 0em 0.5em 0em;
}
.project-grid {
    padding: 1.2em 0em 0em 0em;
}

.project-grid img{
    object-fit: cover;
    width: 400px;
    height: auto;
    margin:auto;
    display:block;
}
#footers {
    text-align: center;
    color: #888;
    padding: 2em;
}
#footers a {
    color: #888;
}
.text-center{
    text-align: center;
}